<div class="hero-unit">
  <h1>WikiJuJu</h1>
  <p>WikiJuJu is for all things JuJu</p>
  <p>
      <%= link_to "Sign Into Your JuJu", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up for a JuJu", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>This...</h2>
    <p> </p>
  </div>
  <div class="span4">
    <h2>IS...</h2>
    <p> </p>
  </div>
  <div class="span4">
    <h2>WikiJuJu!</h2>
    <p> </p>
  </div>
</div>