<div class="hero-unit">
  <h1>WikiJuJu</h1>
  <p>WikiJuJu is for all things JuJu</p>

  <p>
    <%= link_to "Create a JuJu", new_wiki_path, class: 'btn btn-primary btn-large' %>

    <% if current_user && !current_user.premium %>
      <%= render partial: "subscriptions/form" %>
    <% end %>

  </p>

</div>

<div class="row">
  <div class="span4">
    <h2>This...</h2>
    <p> </p>
  </div>
  <div class="span4">
    <h2>IS...</h2>
    <p> </p>
  </div>
  <div class="span4">
    <h2>WikiJuJu!</h2>
    <p> </p>
  </div>
</div>