<h1><%= @wiki.name %></h1>

<%= render partial: 'pages/page', collection: @pages, locals: { wiki: @wiki } %>

<p>
  <%= link_to "Create a New Page", new_wiki_page_path(wiki_id: @wiki.id), class: 'btn btn-primary btn-medium' %>

  <%= link_to "Add Collaborator", new_wiki_collaborator_path(wiki_id: @wiki.id), class: 'btn btn-primary btn-medium' if current_user.premium %>
</p>